

 
 @model IEnumerable<BrandModel>
@foreach (var item in Model.Where(c => c.status == 1))
{
	<div class="brand-item panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a asp-action="Index" asp-controller="Brand" asp-route-Slug="@item.Slug">@item.Name</a>
			</h4>
		</div>
	</div>
}
<style>
		.brand-item {
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

	.brand-item:hover {
		transform: scale(1.05); /* Phóng to phần tử khi hover */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ cho phần tử */
		color: #4CAF50;
		}

</style>