<h1>Truy cập bị từ chối</h1>
<p>Bạn không có quyền truy cập vào mục này.</p>
<style>
	/* Căn giữa toàn bộ nội dung */
body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Chiều cao của viewport */
    margin: 0;
}

h1, p {
    margin: 0;
}

</style>