
 @model IEnumerable<CategoryModel>
@foreach (var item in Model.Where(c => c.Status == 1))  
{
	<div class="category-item panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a asp-action="Index" asp-controller="Category" asp-route-Slug="@item.Slug">@item.Name</a>
			</h4>
		</div>
	</div>
}
<style>
	.category-item {
		transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

	.category-item:hover {
			transform: scale(1.05); 
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
			background-color: #4CAF50; 
			color: white; 
	}

	

</style>